/Class_lab/MathInstructorDisagreement/build/
/Class_lab/MathInstructorDisagreement/dist/
/Class_lab/MathInstructorDisagreement V2/build/
/Class_lab/MathInstructorDisagreement V2/dist/
/Class_lab/HelloWorld!/build/
/Class_lab/HelloWorld!/dist/
/Class_lab/Gaddis7th_Chap2_Prob18/build/
/Class_lab/Gaddis7th_Chap2_Prob18/dist/
/HMWK/Savitch9th_Chap1_ProgProj1/build/
/HMWK/Savitch9th_Chap1_ProgProj1/dist/
/HMWK/Savitch9th_Chap1_ProgProj1.1/build/
/HMWK/Savitch9th_Chap1_ProgProj1.1/dist/
/HMWK/Savitch9th_Chap1_ProgProj5/build/
/HMWK/Savitch9th_Chap1_ProgProj5/dist/
/HMWK/Savitch9thed_chap1_ProgProj3/build/
/HMWK/Savitch9thed_chap1_ProgProj3/dist/
/HMWK/Savitch9thEd_Chap1_PracProg1/build/
/HMWK/Savitch9thEd_Chap1_PracProg1/dist/
/HMWK/Savitch9thEd_Chap1_PracProg3/build/
/HMWK/Savitch9thEd_Chap1_PracProg3/dist/
/HMWK/Savitch9thEd_Chap1_ProgPrac#4/dist/
/HMWK/Savitch9thEd_Chap1_ProgPrac#4/build/
/HMWK/Savitch9thEd_Chap1_PracProg5/build/
/HMWK/Savitch9thEd_Chap1_PracProg5/dist/
/HMWK/Savitch9thEd_Chap1_ProgProj2/build/
/HMWK/Savitch9thEd_Chap1_ProgProj2/dist/
/HMWK/Assignment 1/(I)Savitch9th_Chap1_ProbProj4/build/
/HMWK/Assignment 1/(I)Savitch9th_Chap1_ProbProj4/dist/
/HMWK/Assignment 1/(F)Savitch9thEd_Chap1_ProgProj1/build/
/HMWK/Assignment 1/(F)Savitch9thEd_Chap1_ProgProj1/dist/
/HMWK/NewFolder/Savitch9thEd_Chapter2_PracProg1/build/
/HMWK/NewFolder/Savitch9thEd_Chapter2_PracProg1/dist/
/Class_lab/RollTheDiceToAFile/build/
/Class_lab/RollTheDiceToAFile/dist/
/Class_lab/Gaddis_8thEd_Chap3_Prob22/build/
/Class_lab/Gaddis_8thEd_Chap3_Prob22/dist/
/Class_lab/Rate/dist/
/Class_lab/Rate/build/