/Class_lab/MathInstructorDisagreement/build/
/Class_lab/MathInstructorDisagreement/dist/
/Class_lab/MathInstructorDisagreement V2/build/
/Class_lab/MathInstructorDisagreement V2/dist/
/Class_lab/HelloWorld!/build/
/Class_lab/HelloWorld!/dist/
/Class_lab/Gaddis7th_Chap2_Prob18/build/
/Class_lab/Gaddis7th_Chap2_Prob18/dist/